$height-header: 50px;
$color-accent: #113A3F;

@import url(http://fonts.googleapis.com/css?family=Indie+Flower);

html {
  font-size: 14px;
  // font-family: 'Indie Flower', Helvetica, Arial, sans-serif;
  // color: $color-accent;
  height: 100%;
  width:100%;
}

body {}

// need the following for the background image so that it
// works (fixed cover) for browser and mobile
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

a {
  color: white;
}

/*CONTAINERS*/

.flex-col {
  position:relative;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  display: flex;
  flex-direction: column;
}

.flex-row {
  position:relative;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  display: flex;
  flex-direction: row;
}

/*ITEMS*/
.item-1 {
  -webkit-flex: 1;
  flex: 1;
}
.item-2 {
  -webkit-flex: 2;
  flex: 2;
}
.item-3 {
  -webkit-flex: 3;
  flex: 3;
}
.item-4 {
  -webkit-flex: 4;
  flex: 4;
}

/*JUSTIFY CHILDREN*/
.justify-start {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.justify-center {justify-content: center;}
.justify-end {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.justify-around {justify-content: space-around;}
.justify-between {justify-content: space-between;}

/*ALIGN CHILDREN*/
.align-start {align-items: flex-start;}
.align-center {align-items: center;}
.align-end {align-items: flex-end;}
.align-stretch {align-items: stretch;}
.align-baseline {align-items: baseline;}

/*ALIGN SELF*/
.self-start {align-self: flex-start;}
.self-end {align-self: flex-end;}
.self-center {
  -webkit-align-self: center;
  align-self: center;
}

.flex-wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*BEHAVIOR*/
.y-scroll {overflow-y: scroll;}
.x-hidden {overflow-x: hidden;}

/*FONT SIZES*/
.f1 {font-size: 1rem;}
.f1-5 {font-size: 1.5rem;}
.f2 {font-size: 2rem;}
.f2-5 {font-size: 2.5rem;}
.f3 {font-size: 3rem;}
.f3-5 {font-size: 3.5rem;}
.f4 {font-size: 4rem;}
.f4-5 {font-size: 4.5rem;}

/*FONT COLORS*/
.fc-light {color: #f2f2f3;}
.fc-dark {color: #242429;}

.bold {font-weight: bold;}
.fw-light {font-weight: 100;}


/* SIZING */
.height-full {height: 100%;}
.width-full {width: 100%;}

.margin-top {margin-top: 5px;}
.margin-bottom {margin-bottom: 5px;}
.margin-xs {margin: 1px;}

.padding-sides {padding: 0px 5px;}

.hidden {display: none;}


.v-center {
  display: -webkit-flex;
  -webkit-align-items: center;
  display:flex;
  align-items: center;
}

.h-center {
  display: -webkit-flex;
  -webkit-justify-content: center;
  display:flex;
  justify-content: center;
}

.wrap {
  word-wrap: break-word;
}

// less general styles
////////////////////////////

header {
  position: fixed;
  height: $height-header;
  left: 0;
  right: 0;
  background: black;
  color: white;
  z-index: 999;
  // opacity: .7
}

nav {
  width: 100%;
  // min-width: 400px;
}

.max-width {
  max-width: 1000px;
}

.container-main {
  position:relative;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Indie Flower', Helvetica, Arial, sans-serif;;
  color: $color-accent;
}

.container-image {
  position: relative;
  font-size: 36px;

  > .caption-left {
    position: absolute;
    left: 0;
    top: 0;
  }

  > .caption-right {
    position: absolute;
    right: 0;
    top: 0;
  }

  > .footer {
    height: 50px;
    padding: 5px;

    font-size: 20px;
    text-align: center;
  }
}

.container-content {
  position: relative;
  top: $height-header;
  height: 100%;
}

.content {
  position: relative;
  // height: 300px;
  // border: 1px solid black;
  max-width: 800px;
  padding: 25px 25px;
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  h1 {
    margin: 20px;
    text-decoration: underline;
  }

  h1, h3 {
    text-align: center;
  }

  a {
    color: $color-accent;
    text-decoration: underline;
  }

}

#landing {
  position: relative;
  height: 5000px;

  > .bottom-left {
    position: absolute;
    left: 2%;
    bottom: 1%;
  }

  > .bottom-right {
    position: absolute;
    right: 2%;
    bottom: 1%;
  }
}

#wedding-day {
  .item-1 {
    min-width: 300px;
  }
}

// bootstrap overrides
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}

.navbar-default {

  background-color: transparent;
  border: none;

  .navbar-nav > li > a {
    color: white;
  }

  .navbar-collapse {
    background-color: black;
    border: none;
  }

  .navbar-toggle:hover, .navbar-toggle:focus {
    opacity: .5;
  }

  .navbar-nav > li > a:hover {
    color: #5e5e5e;
  }

  .navbar-nav > li > a:focus {
    color: white;
  }

}
